<h2>投稿一覧（フォローユーザーのみ）</h2>

<%= search_form_for @q do |f| %>
  <%= f.label :name, "キーワード(ゲーム名）" %>
  <%= f.search_field :name_cont %>
  <%= f.submit "検索" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ゲーム名</th>
      <th>評価</th>
      <th>投稿者</th>
      <th>投稿日時</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.post.title, post_path(follow_user) %></td>
        <td><%= user.post.name %></td>
        <td class="post-evaluation" data-score="<%= user.evaluation %>"></td>
        <td><%= user.name %></td>
        <td><%= l user.post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('.post-evaluation').raty({
   readOnly: true,
    score: function() {
    return $(this).attr('data-score');
    },
    path: '/assets/'
    });
</script>