<h2>ユーザー情報</h2>

<div>
  <div>ユーザー名</div>
  <div><%= @user.name %></div>
</div>

<div>
  <div>フォロー中</div>
  <div><%= link_to @user.followings.count, controller: "users", action: "follow_index", id: @user %></div>
</div>

<div>
  <div>フォロワー</div>
  <div><%= link_to @user.followers.count, controller: "users", action: "follower_index", id: @user %></div>
</div>

<div>
  <div>投稿一覧</div>
  <% if @post.count == 0 %>
    <di>投稿はありません</di>
  <% else %>
    <div>
      <table>
        <thead>
          <tr>
            <th>タイトル</th>
            <th>ゲーム名</th>
            <th>評価</th>
            <th>投稿日時</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user.posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, post_path(post) %></td>
            <td><%= post.name %></td>
            <td class="post-evaluation" data-score="<%= post.evaluation %>"></td>
            <td><%= l post.created_at %></td>
            <td><%= link_to "投稿削除", post_path(post), method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <script>
        $('.post-evaluation').raty({
         readOnly: true,
          score: function() {
          return $(this).attr('data-score');
          },
          path: '/assets/'
          });
      </script>
    </div>
  <% end %>
</div>