<div class="container mt-5 mb-5">

  <h2 class="row"><%= @post.title %></h2>

  <div class="field row mt-5 text-center">
    <div class="col">投稿者</div>
    <div class="col"><%= link_to @post.user.name, user_path(@post.user) %></div>
  </div>

  <div class="field row mt-3 text-center">
    <div class="col"></div>
    <div class="col"><%= render 'relationships/follow_button', user: @user %></div>
  </div>

  <div class="field row mt-5 text-center">
    <div class="col">ゲーム名</div>
    <div class="col"><%= @post.name %></div>
  </div>

  <div class="field row mt-5 text-center">
    <div class="col">プラットフォーム</div>
  	<div class="col"><%= @post.platform %></div>
  </div>

  <div class="field row mt-5 text-center">
    <div class="col">ジャンル</div>
  	<div class="col"><%= @post.genre %></div>
  </div>

  <div class="field row mt-5 text-center">
    <div class="col">評価</div>
    <div class="post-evaluation col" data-score="<%= @post.evaluation %>"></div>
    <script>
      $('.post-evaluation').raty({
      readOnly: true,
      score: function() {
      return $(this).attr('data-score');
      },
      starHalf: '<%= asset_path("star-half.png") %>',
      starOff: '<%= asset_path("star-off.png") %>',
      starOn: '<%= asset_path("star-on.png") %>'
      });
    </script>
  </div>

  <div class="field row mt-5 text-center">
    <div class="col">感想</div>
    <div class="col"><%= @post.thought %></div>
  </div>

  <div class="field row mt-5 text-center">
    <div class="col">備考</div>
    <div class="col"><%= @post.note %></div>
  </div>

  <div class="field row mt-5 text-center">
    <div class="col">投稿日時</div>
    <div class="col"><%= l @post.created_at %></div>
  </div>

  <div class="field row mt-5 text-center">
    <div class="col">コメント</div>
    <% if @comments.count == 0 %>
      <div class="col">コメントはありません。</div>
    <% else %>
      <div class="col">
        <% @comments.each do |comment| %>
          <% if current_user.id == comment.user_id %>
            <div class="col justify-content-center d-flex">
              <div><%= comment.comment %></div>
              <div><%= link_to "　コメント削除", comment_path(comment), method: :delete %></div>
            </div>
          <% else %>
            <div><%= comment.comment %></div>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="field row mt-3 text-center">
    <div class="col"></div>
    <div class="col"><%= link_to "コメントする", new_comment_path(post_id: @post.id), class:"btn btn-success" %></div>
  </div>

  <div class="actions col text-center mt-5">
    <% if current_user.id == @post.user_id %>
      <div><%= link_to "投稿削除", post_path(@post), method: :delete, class:"btn btn-danger" %></div>
    <% end %>
  </div>

</div>